.bar {
      
    height: 140px;
    overflow: auto;
  }
  .bar::-webkit-scrollbar {
    width: 10px;
  }
  .bar::-webkit-scrollbar-thumb {
    background-color: #6667ab;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .bar::-webkit-scrollbar-track {
    background-color: #6667ab69;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }